.Rproj.user
.Rhistory
.RData
.Ruserdata
tract01.csv
tract02.csv
tract04.csv
tract05.csv
tract06.csv
tract08.csv
tract09.csv
tract10.csv
tract11.csv
tract12.csv
tract13.csv
tract15.csv
tract16.csv
tract17.csv
tract18.csv
tract19.csv
tract20.csv
tract21.csv
tract22.csv
tract23.csv
tract24.csv
tract25.csv
tract26.csv
tract27.csv
tract28.csv
tract29.csv
tract30.csv
tract31.csv
tract32.csv
tract33.csv
tract34.csv
tract35.csv
tract36.csv
tract37.csv
tract38.csv
tract39.csv
tract40.csv
tract41.csv
tract42.csv
tract44.csv
tract45.csv
tract46.csv
tract47.csv
tract48.csv
tract49.csv
tract50.csv
tract51.csv
tract53.csv
tract54.csv
tract55.csv
tract56.csv
